@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;300;400;500;700&family=Poppins:wght@100;300;400;500;600&display=swap');


*{
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  color: white;
}

body{
  background-color: rgb(32, 32, 32);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; 
  background-color: rgb(17, 17, 17);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  border-radius: 2px;
  box-shadow: 0px 1px 10px #000000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span{
  color: white;
}

.logo img {
  height: 30px;
  margin-right: 5px;
}

.WMC{
  font-size: 24px;
  padding-bottom: 5px;
}

.navbar-items {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar-items li {
  margin-right: 25px;
}

.navbar-items li:last-child {
  margin-right: 20px;
}

.navbar-items li a {
  position: relative;
  text-decoration: none;
  color: rgb(225, 225, 225);
  transition: color 0.3s, border-bottom-color 0.3s;
}

.navbar-items li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  background-color: #e77d11;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navbar-items li a:hover:before {
  transform: scaleX(1);
}

.navbar-items li a:hover {
  color: #e77d11;
}


.icon {
  margin-left: auto;
  margin-right: 10px;
}

.icon i{
  font-size: 18px;
}

.icon i:hover{
  color: #e77d11;
}

.main{
  margin-top: 100px;
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70%;
  margin-left: 50px;
  margin-right: 50px;
}

.card{

  width: 300px;
  height: 420px;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 30px;
  overflow: hidden;
  transition: .3s;
}

.card.active,
.card:hover{
  height: 620px;
}


.product-img img{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  height: 300px;
  width: 250px;
  border-radius: 30px;
}

.product-detail{
  text-align: center;
  margin-top: 40px;
}

.product-detail h1{
  font-size: 24px;
  font-weight: 300;
}

.price p{
  font-size: 18px;
}

.variety{
  max-width: 275px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
}

.var-class{
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border: 3px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .3);
  overflow: hidden;
  transition: .2s;
}

.var-class-hover{
  transform: scale(1.7);
}

.quantity{
  margin-top: 15px;
}

.quantity #decrease1, #increase1, #count1{
  color: black;
}

#count1{
  text-align: center;
  font-size: 18px;
  width: 70px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

#increase1, #decrease1{
  border-radius: 100%;
  border: none;
  width: 30px;
  height: 30px;
  transition: .15s;
}

#decrease1:hover{
  transform: scale(1.1);
  color: white;
  background-color: black;
}

#increase1:hover{
  transform: scale(1.1);
  color: white;
  background-color: black;
}


.quantity #decrease2, #increase2, #count2{
  color: black;
}

#count2{
  text-align: center;
  font-size: 18px;
  width: 70px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

#increase2, #decrease2{
  border-radius: 100%;
  border: none;
  width: 30px;
  height: 30px;
  transition: .15s;
}

#decrease2:hover{
  transform: scale(1.1);
  color: white;
  background-color: black;
}

#increase2:hover{
  transform: scale(1.1);
  color: white;
  background-color: black;
}

.quantity #decrease3, #increase3, #count3{
  color: black;
}

#count3{
  text-align: center;
  font-size: 18px;
  width: 70px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

#increase3, #decrease3{
  border-radius: 100%;
  border: none;
  width: 30px;
  height: 30px;
  transition: .15s;
}

#decrease3:hover{
  transform: scale(1.1);
  color: white;
  background-color: black;
}

#increase3:hover{
  transform: scale(1.1);
  color: white;
  background-color: black;
}

.quantity #decrease4, #increase4, #count4{
  color: black;
}

#count4{
  text-align: center;
  font-size: 18px;
  width: 70px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

#increase4, #decrease4{
  border-radius: 100%;
  border: none;
  width: 30px;
  height: 30px;
  transition: .15s;
}

#decrease4:hover{
  transform: scale(1.1);
  color: white;
  background-color: black;
}

#increase4:hover{
  transform: scale(1.1);
  color: white;
  background-color: black;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.size{
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 70px;
  margin-top: 15px;
  transition: .2s;
  cursor: pointer;
}

.size p{
  height: 25px;
  width: 25px;
}

.size p:hover {
  color: #e77d11;
  border-radius: 100%;
  background-color: rgba(64, 64, 64, .3);
}

.poster-size{
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 20px;
}

#cart{
  border-radius: 20px;
  margin-top: 20px;
  color: black;
  width: 200px;
  height: 40px;
  font-size: 18px;
  border: none;
  transition: .2s;
}

#cart:hover{
  color: white;
  background-color: black;
}

.cart-box{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(63, 63, 63);
  padding: 30px;
}

.cart{
  height: 100px;
  width: 200px;
  padding: 5px;
  color: black;
  border-radius: 50px;
  font-size: 28px;
  font-weight: 300;
  border: none;
  margin-left: 50px;
  margin-right: 50px;
  transition: .2s;
}

.cart:hover{
  color: white;
  background-color: black;
}


footer {
  background-color: #1b1b1b;
  padding: 20px 0;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  margin-top: 100px;
}

footer .container {
  max-width: 960px;
  margin: 0 auto;
}

footer p {
  margin: 0;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  background-color: #000000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  text-decoration: none;
}

.social-icons a:hover {
  background-color: #e77d11;
}

::-webkit-scrollbar{
  width: 0;
}

#cartItems {
  display: none;
  margin-left: 100px;
  margin-top: 20px;
  border-radius: 30px;
  margin-right: 100px;
  padding: 30px;
  background-color: #1b1b1b;
}

#cartItems h2 {
  text-align: center;
}

.cartItem {
  margin-bottom: 10px;
}

.cartItem p {
  display: inline-block;
  margin: 0;
  width: 300px;
}

.cartItem .deleteBtn {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 50px;
}

.checkoutBtn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}